html, body {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: #c3baa5;/* #e4dacd */;
}

.contents {
    margin: 0 auto;
    width: 92%;
    max-width: 950px;    
    background-color: #c8b693;
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -webkit-box-shadow: 3px 3px 6px -1px rgba(36,36,33,0.20), -3px 3px 6px -1px rgba(36,36,33,0.20);    
    -moz-box-shadow: 3px 3px 6px -1px rgba(36,36,33,0.20), -3px 3px 6px -1px rgba(36,36,33,0.20);    
    box-shadow: 3px 3px 6px -1px rgba(36,36,33,0.20), -3px 3px 6px -1px rgba(36,36,33,0.20);    
}

/*******************************************************************************
 * header
 ******************************************************************************/
header {
    -webkit-box-shadow: 0 3px 6px -1px rgba(36,36,33,0.40);
    -moz-box-shadow: 0 3px 6px -1px rgba(36,36,33,0.40);
    box-shadow: 0 3px 6px -1px rgba(36,36,33,0.40);
    background-color: #6d5536;    
}
header h1 {
    font-family: 'Questrial', sans-serif;
    color: #e6dc4b;
    font-weight: normal; 
    padding: 0.6em;   
    margin: 0;
}

/*******************************************************************************
 * mountain list
 ******************************************************************************/
.mountainList {
    overflow: hidden;
    padding: 15px;
}

.mountainList a {
    text-decoration: underline;
    cursor: pointer;
}

.mountainListMap,
.mountainListLinks {    
    width: 48%;    
}

.mountainListMap {
    float: left;
}

.mountainListLinks {
    float: right;
}

.mountainListFilter li {
    display: inline-block;
    list-style-type: none;
}

.mountainListMap .angular-google-map-container { 
    /*width: 200px;*/
    height: 600px; 
}

.mountainListMap,
.mountainListLinks {
    border: solid 2px #7d936c;    
    background-color: #dbdeb7; 
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;        
}

.mountainListLinks {
    padding-bottom: 3px;
}

.mountainListLinks table {
    width: 100%;
    border-collapse: collapse;
    background-color: #dbdeb7;    
    padding: 0.2em;

}

.mountainListLinks thead {
    background-color: #7d936c;
    width: 100%;
}

.mountainListLinks th,
.mountainListLinks td {
    padding: 0.3em 0.625em;
    vertical-align: top;
    font-size: 80%;
    text-align: left;
}

.mountainListLinks th {
    cursor: pointer;
    font-size: 100%;
}

.mountainListLinks th:hover {
    text-decoration: underline
}

.mountainListLinks a {
    color: #333;
}

/*******************************************************************************
 * CMR PHOTO
 ******************************************************************************/
.cmrPhoto {
    width: 30%;
    border: solid 4px #6d5536;
    margin: 0 0 20px 0;
}

.cmrPhoto img {
    max-width: 100%;
    display: block;
}

.cmrPhoto-caption,
.cmrPhoto-credit {
    padding: 0.3em;
    color: #e6dc4b;
    background-color: #6d5536; /* #58291a; */
}

.cmrPhoto-credit {
    font-size: 80%;
}

/*******************************************************************************
 * mountain detail
 ******************************************************************************/
.mountainDetailMap {
    padding: 20px;
} 
.mountainDetailMap h2 {
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
}

.mountainDetailMap .angular-google-map-container { 
    width: 400px;
    height: 400px; 
}
