html, body {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: #c3baa5;/* #e4dacd */;
}

.contents {
    margin: 0 auto;
    width: 92%;
    max-width: 950px;
    background-color: #c8b693;
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -webkit-box-shadow: 3px 3px 6px -1px rgba(36,36,33,0.20), -3px 3px 6px -1px rgba(36,36,33,0.20);
    -moz-box-shadow: 3px 3px 6px -1px rgba(36,36,33,0.20), -3px 3px 6px -1px rgba(36,36,33,0.20);
    box-shadow: 3px 3px 6px -1px rgba(36,36,33,0.20), -3px 3px 6px -1px rgba(36,36,33,0.20);
}

/*******************************************************************************
 * header
 ******************************************************************************/
header {
    -webkit-box-shadow: 0 3px 6px -1px rgba(36,36,33,0.40);
    -moz-box-shadow: 0 3px 6px -1px rgba(36,36,33,0.40);
    box-shadow: 0 3px 6px -1px rgba(36,36,33,0.40);
    background-color: #6d5536;
}
header h1 {
    font-family: 'Questrial', sans-serif;
    color: #e6dc4b;
    font-weight: normal;
    padding: 0.6em;
    margin: 0;
}

/*******************************************************************************
 * mountain list
 ******************************************************************************/
.mountainList {
    overflow: hidden;
    padding: 15px;
}

.mountainList a {
    text-decoration: underline;
    cursor: pointer;
}

.mountainListMap,
.mountainListLinks {
    width: 48%;
}

.mountainListLinks {
    float: right;
}

.mountainListFilter li {
    display: inline-block;
    list-style-type: none;
}

.mountainListMap .angular-google-map-container {
    /*width: 200px;*/
    height: 600px;
}

.mountainListMap,
.mountainListLinks {
    border: solid 2px #7d936c;
    background-color: #dbdeb7;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.mountainListLinks {
    padding-bottom: 3px;
}

.mountainListLinks table {
    width: 100%;
    border-collapse: collapse;
    background-color: #dbdeb7;
    padding: 0.2em;
}

.mountainListLinks thead {
    background-color: #7d936c;
    border-bottom: solid 1px #666;
    width: 100%;
}

.mountainListLinks tr:hover {
    background-color: rgba(125,147,108,0.2);
}

.mountainListLinks th,
.mountainListLinks td {
    padding: 0.3em 0.625em;
    vertical-align: top;
    font-size: 80%;
    text-align: left;
}

.mountainListLinks th {
    cursor: pointer;
    font-size: 100%;
}

.mountainListLinks th:hover {
    text-decoration: underline
}

.mountainListLinks a {
    color: #333;
}

/*******************************************************************************
 * mountain list map
 ******************************************************************************/
.mountainListMap {
    float: left;
    position: relative;
}

.mountainListMapLabel {
    position: absolute;
    top: 0;
    left: 50%;
    width: 9.375em;
    margin-left: -4.6875em;
    background-color: rgba(109, 85, 54, 0.9);
    color: #e6dc4b;
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-size: 120%;
    padding: 0.3em;
    opacity: 0;
    border: solid 3px #6d5536;
    -webkit-border-radius: 0.6em;
    -moz-border-radius: 0.6em;
    border-radius: 0.6em;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.mountainListMapLabel:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -12px;
  left: 80px; /* -4.6875em; */
  width: 0;
  border-width: 12px 12px 0;
  border-style: solid;
  /*border-color: rgba(125,147,108,0.9) transparent;*/
  border-color: #6d5536 transparent;
}

.active {
  opacity: 1;
}

/*******************************************************************************
 * CMR PHOTO
 ******************************************************************************/
.cmrPhoto {
    width: 30%;
    border: solid 4px #6d5536;
    margin: 0 0 20px 0;
}

.cmrPhoto img {
    max-width: 100%;
    display: block;
}

.cmrPhoto-caption,
.cmrPhoto-credit {
    padding: 0.3em;
    color: #e6dc4b;
    background-color: #6d5536; /* #58291a; */
}

.cmrPhoto-credit {
    font-size: 80%;
}

/*******************************************************************************
 * mountain detail
 ******************************************************************************/
.mountainDetailMap {
    padding: 20px;
}
.mountainDetailMap h2 {
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
}

.mountainDetailMap .angular-google-map-container {
    width: 400px;
    height: 400px;
}
