/*******************************************************************************
 * CMR PHOTO
 ******************************************************************************/
.cmrPhoto {
	margin-bottom: 1.2em;
}

.cmrPhoto img {
    max-width: 100%;
    display: block;
}

.cmrPhoto-caption {
	font-size: 60%;
	line-height: 110%;
	color: $colorBaseText;
	padding: 0;
	margin: 0;
	@include word-wrap;
}