html, body {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: $colorBackground;
    color: $colorBaseText;
}

.contents {
    margin: 0 auto;
    @include container($desktopWidth);
    background-color: $colorBackgroundAlt;
    border-radius: 0px 0px 5px 5px;
    padding-bottom: 1.5em;
    box-shadow: 3px 3px 6px -1px rgba(36,36,33,0.20), -3px 3px 6px -1px rgba(36,36,33,0.20);
}

.PageContent {
    padding: 0.6em;
    margin-top: 3rem;
    @include susy-breakpoint($desktopBreakpoint, $susy) {
        padding: 2em 1em;
        margin-top: 0;
    }
}

h1,h2,h3,h4,h5 {
    font-family: sans-serif;    
    font-weight: normal;    
    @include susy-breakpoint($desktopBreakpoint, $susy) {
        font-family: 'Questrial', sans-serif;    
    }    
}

a {
    color: $colorBaseText;
}