/*******************************************************************************
 * globals
 ******************************************************************************/

$desktop: 37.5em; //600px at 16

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

//colors
$colorLabel: #e6dc4b;
$colorCallout: #6d5536;
$colorActive: #cc461f;
$colorBackground: #c3baa5;
$colorBackgroundAlt: #D2CBB9; //#c8b693;
$colorCellBackground: transparent; //#dbdeb7;
$colorCellBorder: #7d936c;
$colorCellHeadBackground: #7d936c;