/*******************************************************************************
 * globals
 ******************************************************************************/

$desktopBreakpoint: 37.5em; //600px at 16
$desktopWidth: 60rem;

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

//colors
$colorHeaderBackground: #315F6D; //#6d5536;
$colorLabel: #e6dc4b;
$colorCTAText: #FDF0F0;
$colorCTABackground: #8B8A8C; 
$colorCTABackgroundFade: darken($colorCTABackground, 20%);
$colorActive: #C74848;
$colorActiveFade: darken($colorActive, 20%);
$colorBackground: #E0DFDC;
$colorBackgroundAlt: #F0F0F0;
$colorBaseText: #666;


%CTABackground {
	background: $colorCTABackground;
	background: linear-gradient($colorCTABackground, $colorCTABackgroundFade);
}

%CTABackgroundActive {
	background: $colorActive;
	background: linear-gradient($colorActive, $colorActiveFade);
}