/*******************************************************************************
 * MountainList
 ******************************************************************************/
.MountainList {
    @include susy-breakpoint($desktopBreakpoint, $susy) {
        @include span(last 6 of 12);    
    }        
    a {
        text-decoration: underline;
        cursor: pointer;
    }
}

.MountainList-headline {
    margin-top: 0.4em;
    @include breakpoint($desktopBreakpoint) {
        margin-top: 0;
    }
}

.mountainListFilter li {
    display: inline-block;
    list-style-type: none;
}

/*******************************************************************************
 * MountainListTable
 ******************************************************************************/
.MountainListTable {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0.2em;
}

.MountainListTable thead {    
    width: 100%;

    &.name [data-filter-type="name"],
    &.lat [data-filter-type="lat"],
    &.elevation [data-filter-type="elevation"],
    &.state [data-filter-type="state"] {  
        @extend %CTABackgroundActive; 
        &:after {
            content: "";
            display: inline-block;
            width: 0; 
            height: 0; 
            border-left: 0.36em solid transparent;
            border-right: 0.36em solid transparent;
            border-bottom: 0.36em solid $colorCTAText;
            margin-left: 0.4em;
            vertical-align: middle;
        }

        &.reverse {
            &:after {
                border-top: 0.36em solid $colorCTAText;
                border-bottom: 0;
            }
        }        
    }
}

.MountainListTable-row {
    cursor: pointer;
    &:hover {
        background-color: rgba($colorHeaderBackground, 0.2);
    }
}    

.MountainListTable-head,
.MountainListTable-cell {    
    vertical-align: top;
    font-size: 80%;
    @include susy-breakpoint($desktopBreakpoint, $susy) {
        padding: 0.3em 0.625em;        
    }
}

.MountainListTable-head {
    cursor: pointer;
    font-size: 90%;
    font-weight: normal;
    user-select: none;
    color: $colorCTAText;
    padding: 0.5em;
    @extend %CTABackground;
}

.MountainListTable-cell {
    padding: 0.7em 0.5em;    
    @include breakpoint($desktopBreakpoint) {
        padding: 0.3em 0.5em;    
    }
}

.MountainListTable-head_col1,
.MountainListTable-cell_col1 {
    width: 45%;
}

.MountainListTable-head_col2,
.MountainListTable-cell_col2, 
.MountainListTable-head_col1,
.MountainListTable-cell_col1 {
    text-align: left;
}

.MountainListTable-head_col3,
.MountainListTable-cell_col3 {
    text-align: right;
}

.MountainListTable-head_col1 {
    border-top-left-radius: 0.45em;
    border-bottom-left-radius: 0.45em;
}

.MountainListTable-head_col3 {
    border-top-right-radius: 0.45em;
    border-bottom-right-radius: 0.45em;
}

.MountainListTable a {
    color: #333;
    user-select: none;
    text-decoration: none;
}

