/*******************************************************************************
 * mountain detail
 ******************************************************************************/
.mountainDetailMap {
    padding: 20px;
}
.mountainDetailMap h2 {
    font-family: 'Questrial', sans-serif;
    font-weight: normal;
}

.mountainDetailMap .angular-google-map-container {
    width: 400px;
    height: 400px;
}