/*******************************************************************************
 * nav
 ******************************************************************************/
.SiteNav {
    @include breakpoint($desktopBreakpoint) {
        margin-top: -0.1em;
    }
}

.SiteNav-list {
    list-style-type: none;
    margin: 0 0 0 2.2em;
    padding: 0;
    overflow: hidden;
}

.SiteNav-link {
    margin: 0;
    padding: 0;    
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    display: inline-block;
    @extend %CTABackground;
    a {
        color: $colorCTAText;
        text-decoration: none;
        display: block;
        padding: 0.6em 0.8em 0.5em 0.8em;
    }
}

.SiteNav-link--active {    
    @extend %CTABackgroundActive;
}