/*******************************************************************************
 * header
 ******************************************************************************/
.SiteHeader {
    box-shadow: 0 3px 6px -1px rgba(36, 36, 33, 0.4);
    background: $colorHeaderBackground;
    background: radial-gradient(lighten($colorHeaderBackground, 2%), darken($colorHeaderBackground, 6%));
}

.SiteHeader-homelink {
    margin: 0;
    font-size: 1em;
    color: $colorLabel;
    @include breakpoint($desktopBreakpoint) {
        font-size: 2em;
    }        

    a {
        display: block;
        color: $colorLabel;
        font-weight: normal;
        margin: 0;
        text-decoration: none;
        padding: 0.35em;
        text-align: center;

        @include breakpoint($desktopBreakpoint) {
            //padding: 0.6em 0.6em 0.4em 0.6em;
            padding: 0.6em;
            text-align: left;
        }
    }
}  
