/*******************************************************************************
 * SiteFooter
 ******************************************************************************/
.SiteFooter {
	max-width: $desktopWidth;
	font-size: 70%;
	color: #666;
	margin: 0 auto;
	padding: 2em;
	background-color: pink;
	a {
		color: #666;
	}
	p {
		padding: 0 0 0.5em 0;
		margin: 0;
	}
}
