<div class="Homepage">
    <article class="HomepageIntro">
        <section class="HomepageIntro-copy">
            <p>The Cascade Mountain Range is a North American mountain range that extends from southern British Columbia down the west coast to northern California.</p>
            <p>See the mountains by region:</p>
            <nav class="HomepageIntro-nav">
                <ul>
                    <li><a href="#/california">California</a></li>
                    <li><a href="#/oregon">Oregon</a></li>
                    <li><a href="#/washington">Washington</a></li>
                    <li><a href="#/british+columbia">British Columbia</a></li>
                </ul>
            </nav>
        </section>
    </article>
    <aside class="HomepageImagery">
        <img class="HomepageImagery-image" src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/ef/Mount_Hood_reflected_in_Mirror_Lake%2C_Oregon.jpg/755px-Mount_Hood_reflected_in_Mirror_Lake%2C_Oregon.jpg">
        <p class="HomepageImagery-caption">Source: <a href="http://commons.wikimedia.org/wiki/File:Mount_Hood_reflected_in_Mirror_Lake,_Oregon.jpg" target="_blank">commons.wikimedia.org</a></p>
    </aside>            
</div>
