<div class="mountainDetail">

    <h2>{{mountain.name}}</h2>
    <p>Location: {{stateFormat()}}</p>
    <p>Elevation: {{mountain.elevation | number}} feet</p>
    <p>Last Eruption: {{mountain.eruption}}</p>

    <div cmr-photo photo="mountain.photos[0]"></div>
    <div cmr-photo photo="mountain.photos[1]"></div>

    <div class="mountainDetailMap">
        <google-map center="map.center" zoom="map.zoom" refresh="true" draggable="true" options="map.options"></google-map>
    </div>

</div>

<p><a href="/#mountains">All Mountains</a></p>
