<div class="mountainList">

    <div class="mountainListMap" ng-controller="MountainListMapController">
        <ui-gmap-google-map 
            center="map.center"
            zoom="map.zoom"
            dragging="map.dragging"
            bounds="map.bounds"
            events="map.events"
            options="map.options"
            pan="true"
            control="map.control">
            <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" events="markerEvents">
                <ui-gmap-windows show="'show'" coords="'self'" options="'options'">
                    <div ng-non-bindable>{{title}}</div>
                </ui-gmap-windows>
            </ui-gmap-markers>       
        </ui-gmap-google-map>
    </div>

    <div class="mountainListLinks">

        <p>The cascade mountain range extends from <a ng-click="geoBoundaryChange('BC')">British Columbia</a> through <a ng-click="geoBoundaryChange('WA')">Washington</a> and <a ng-click="geoBoundaryChange('OR')">Oregon</a> into <a ng-click="geoBoundaryChange('CA')">Northern California</a>.<p>

        <table ng-mouseleave="mountainBlur()" class="mountainListTable">
            <thead class="{{filterType}}">
                <tr>
                    <th data-filter-type="name" ng-click="setFilter('name')" ng-class="{'reverse': filterReverse}">Name</th>
                    <th data-filter-type="state" ng-click="setFilter('state')" ng-class="{'reverse': filterReverse}">Location</th>
                    <th data-filter-type="lat" ng-click="setFilter('lat')" ng-class="{'reverse': filterReverse}">Latitude</th>
                    <th data-filter-type="elevation" ng-click="setFilter('elevation')" ng-class="{'reverse': filterReverse}">Elevation</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mtn in mountains | filter: filterLocation | orderBy: filterProp" ng-mouseover="mountainFocus(mtn.id)">
                    <td><a href="#/mountains/{{mtn.id}}">{{mtn.name}}</a></td>
                    <td>{{mtn.state}}</td>
                    <td>{{mtn.lat}}</td>
                    <td>{{mtn.elevation|number}} ft.</td>
                </tr>
            </tbody>
        <table>
    </div>
</div>
