<div class="mountainList">

    <p>The cascade mountain range extends from British Columbia through <a ng-click="filterLocation = { state: 'WA' }">Washington</a> and <a ng-click="filterLocation = { state: 'OR' }">Oregon</a> into <a ng-click="filterLocation = { state: 'CA' }">Northern California</a>.<p>

    <div class="mountainListMap" ng-controller="MountainListMapController">
        <ui-gmap-google-map 
            center="map.center"
            zoom="map.zoom"
            dragging="map.dragging"
            bounds="map.bounds"
            events="map.events"
            options="map.options"
            pan="true"
            control="map.control">
            <ui-gmap-markers models="markers" coords="'self'" icon="'icon'" events="markerEvents">
                <ui-gmap-windows show="'show'" coords="'self'" options="'options'">
                    <div ng-non-bindable>{{title}}</div>
                </ui-gmap-windows>
            </ui-gmap-markers>       
        </ui-gmap-google-map>
    </div>

    <div class="mountainListLinks">
        <table ng-mouseleave="mountainBlur()">
            <thead>
                <tr>
                    <th ng-click="filterProp = 'name'">Name</th>
                    <th ng-click="filterProp = 'state'">Location</th>
                    <th ng-click="filterProp = '-elevation'">Elevation</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mtn in mountains | filter: filterLocation | orderBy: filterProp" ng-mouseover="mountainFocus(mtn.id)">
                    <td><a href="#/mountains/{{mtn.id}}">{{mtn.name}}</a></td>
                    <td>{{mtn.state}}</td>
                    <td>{{mtn.elevation|number}} ft.</td>
                </tr>
            </tbody>
        <table>
    </div>
</div>
