<div class="Breadcrumb">
    <a href="/#mountains">All Mountains</a> : 
    <a href="/#mountains/">{{stateFormat()}}</a> : 
    {{mountain.name}}
</div>

<article class="MountainDetail">

    <section class="MountainInfo">
        <h1 class="MountainInfo-name">{{mountain.name}}</h1>
        <p>Location: {{stateFormat()}}</p>
        <p>Elevation: {{mountain.elevation | number}} feet</p>
        <p>Last Eruption: {{mountain.eruption}}</p>
    </section>

    <section class="MountainPhotos">
        <div cmr-photo photo="mountain.photos[0]"></div>
        <div cmr-photo photo="mountain.photos[1]"></div>
    </section>

    <div class="MountainDetailMap">
        <ui-gmap-google-map 
            center="map.center"
            zoom="map.zoom"
            dragging="map.dragging"
            bounds="map.bounds"
            events="map.events"
            options="map.options"
            pan="true"
            control="map.control">
        </ui-gmap-google-map>        
    </div>

</article>

